*, html {
box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(170, 101, 235);
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 8px 25px;
    color: wheat;
    background-color: black;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
    transition: background-color 0.4s, transform 0.4s;
}

button:hover {
    background-color: brown;
    transform: scale(1.04);

}

.boton:active {
    transform: translateY(4px);
}

.add-bton {
    margin-right: 10px; 
    background-color: rgb(64, 107, 21);
    
}

.add-bton:hover {
    background-color: rgb(126, 209, 44);
}

.dlt-bton {
    /* transition: background-color 0.4s, transform 0.4s; */
    background-color: rgb(119, 33, 33); 
}

.dlt-bton:hover {
    background-color: rgb(206, 18, 18);
}

