:root {
    --color-1:hsl(238, 40%, 52%);
    --color-2:hsl(358, 79%, 66%);
    --color-3:hsl(239, 57%, 85%);
    --color-4:hsl(357, 100%, 86%);
    --color-5:hsl(212, 24%, 26%);
    --color-6:hsl(211, 10%, 45%);
    --color-7:hsl(223, 19%, 93%);
    --color-8:hsl(228, 33%, 97%);
    --color-9:hsl(0, 0%, 100%);
    --color-10:hsla(211, 10%, 45%, 0.342);
}

