.cuadrado{
    background-color: aquamarine;
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
    position: relative;
   
}

/* .circulo{
    background-color: rgb(4, 47, 54);
    border-radius: 50%;
    height: 500px;
    width: 500px;
    margin-top: 50px;
   
} */

.container{
    border: 10px solid rebeccapurple;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 200px;
}

